#budgettext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 20vw;
}

#percentage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 20vw;
}

#donut {
  height: 35vh;
}

#dash {
  display: flex;
  justify-content: center;
  align-items: center;
}
