#bar {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 85vh;
  width: 95vw;
  margin-top: -3%;
}

h1 {
  font-size: 1.5em;
  margin-top: 1%;
}

canvas {
  height: 70% !important;
  width: 70% !important;
}

@media (max-width: 1400px) {
  canvas {
    height: 60% !important;
  }
}

@media (max-width: 1000px) {
  canvas {
    height: 50% !important;
  }

  h1 {
    font-size: 1.25em;
  }
}

@media (max-width: 800px) {
  canvas {
    height: 40% !important;
  }

  h1 {
    font-size: 1.15em;
  }
}

@media (max-width: 650px) {
  canvas {
    height: 30% !important;
  }

  h1 {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  canvas {
    height: 25% !important;
  }
}

@media (max-width: 400px) {
  canvas {
    height: 20% !important;
  }
}
