#settingsparent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#settings {
  width: 80%;
}

hr {
  margin: 2% 0;
}

@media (max-width: 600px) {
  label {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  #fileip {
    margin: 1.5% 0;
  }
}
