form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.tempclass {
  margin: inherit;
}

.errorClass:focus {
  outline: none;
}

.labelError {
  color: red;
  font-weight: bold;
}

.errorClass {
  border: 2px solid red !important;
  border-radius: 3px;
  /* color: red; */
  /* font-weight: bold; */
}

#transaction-name,
#transaction-date,
#transaction-type,
#transaction-amount {
  margin: 5% 0 5% 0;
}

#transaction-submit {
  margin-top: 5%;
  margin-right: 5%;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 3px;
  background-color: transparent;
  border: 0;
  font-size: x-large;
  cursor: pointer;
}

.Modal {
  position: absolute;
  top: 20%;
  left: 23%;
  right: auto;
  bottom: auto;
  width: 50%;
  height: 50%;
  /* margin-right: -50%;
  transform: translate(-50%, -50%); */
  padding: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.6);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
