#budgettext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 20vw;
  /* border: 1px solid black; */
}

#percentage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 20vw;
  /* border: 1px solid black; */
}

#appbar {
  margin-bottom: 1%;
}

#dash {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#donut {
  height: 35vh;
  /* border: 1px solid black; */
}
#appbar {
  margin-bottom: 1%;
}
