#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 1%;
  background-color: #0274d1;
  color: white;
  margin-bottom: 1%;
}

#navleft {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 1rem;
}

#projectdiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1% 0;
}

h6 {
  font-weight: bold;
  font-size: 1.25rem;
}

form h1 {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 7.5%;
}

#projectselect {
  border: none;
  width: 20%;
  cursor: pointer;
  margin-right: 5%;
  font-size: 2.45rem;
}

#projectselect option {
  font-size: 0.9rem;
}

#projectselect:active,
#projectselect:focus {
  border: none;
  outline: none;
}

.month-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

.next,
.back {
  margin-top: 2%;
  margin-right: 5%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.form-2 {
  width: 100%;
}

label {
  font-weight: bold;
}

#projname,
#projdate,
#projmanager,
#projbudget {
  margin: 5% 0 5% 0;
}

#projsubmit {
  margin-top: 5%;
  margin-right: 5%;
}

.errorClass:focus {
  outline: none;
}

.labelError {
  color: red;
  font-weight: bold;
}

.errorClass {
  border: 2px solid red !important;
  border-radius: 3px;
}

button {
  font-family: "Manrope", sans-serif;
  background: white;
  border: 0.125em solid black;
  cursor: pointer;
}

select,
input {
  font-family: "Manrope", sans-serif;
}

.multi-button {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.multi-button button {
  background: white;
  border: 0.125em solid black;
  cursor: pointer;
  font: 400 1rem "Manrope", sans-serif;
  letter-spacing: 0.125em;
  margin: 0.5rem;
  padding: 0.75em 1em;
  position: relative;
  text-transform: uppercase;
}
.multi-button button:before,
.multi-button button:after {
  content: "";
  position: absolute;
  transition: all 0.125s ease-in-out;
}
.multi-button button.cut {
  background: none;
  border-color: transparent;
}
.multi-button button.cut:before,
.multi-button button.cut:after {
  transition: all 0.175s ease-in-out;
}
.multi-button button.cut:before {
  background: black;
  border: 0px dashed black;
  left: -0.125em;
  top: -0.125em;
  right: -0.125em;
  bottom: -0.125em;
  z-index: -1;
}
.multi-button button.cut:hover:before,
.multi-button button.cut:focus:before {
  background: white;
  border-width: 0.125em;
}
.multi-button button.cut:after {
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 3px;
  color: black;
  background-color: transparent;
  border: 0;
  font-size: x-large;
  cursor: pointer;
}

.Modal {
  position: absolute;
  top: 15%;
  left: 23%;
  right: auto;
  bottom: auto;
  width: 50%;
  height: 65%;
  padding: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.6);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media (max-width: 1400px) {
  #navleft {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  #navleft {
    width: 80%;
  }

  #projectselect {
    width: 30%;
  }

  .projectheader {
    font-size: 2em;
  }

  .Modal {
    width: 60%;
    left: 18%;
  }
}

@media (max-width: 1000px) {
  #navleft {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .Modal {
    width: 70%;
    left: 13%;
  }
}

@media (max-width: 850px) {
  #navleft {
    width: 95%;
  }

  #projectselect {
    width: 40%;
  }

  .projectheader {
    font-size: 1.75em;
  }

  #projectdiv {
    margin-top: 2%;
  }
}

@media (max-width: 750px) {
  .form-2 input {
    width: 50%;
  }

  .Modal {
    width: 70%;
    left: 13%;
  }
}

@media (max-width: 700px) {
  h6 {
    display: none;
  }

  #projectselect {
    width: 40%;
  }

  .projectheader {
    font-size: 1.5em;
  }

  #navleft {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  #projectselect {
    width: 50%;
    font-size: 1.9rem;
  }

  .projectheader {
    font-size: 1.25em;
  }
}

@media (max-width: 500px) {
  #navleft {
    font-size: 1em;
    width: 100%;
  }

  h6 {
    display: none;
  }

  form h1 {
    font-size: 1.5rem;
  }

  .projectheader {
    font-size: 1em;
    margin-top: 1%;
  }

  #projectselect {
    width: 50%;
    font-size: 1.8rem;
  }

  #projectselect option {
    font-size: 1rem;
  }

  .multi-button button {
    font-size: 0.8rem;
  }

  form {
    width: 70%;
  }

  .Modal {
    width: 80%;
    left: 8%;
  }
}

@media (max-width: 460px) {
  .projectheader {
    font-size: 0.8em;
    margin-top: 1.5%;
  }
}

@media (max-width: 420px) {
  .projectheader {
    font-size: 0.7em;
    margin-top: 2%;
  }

  #navleft {
    font-size: 0.8em;
  }
}
