#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1% 1%;
  background-color: #0274d1;
  color: white;
}

#navleft {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#navright {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

h6 {
  font-weight: bold;
  font-size: large;
}

#projectselect {
  width: 25%;
  cursor: pointer;
  margin-right: 1%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projname,
#projdate,
#projmanager,
#projbudget {
  margin: 5% 0 5% 0;
}

#projsubmit {
  margin-top: 5%;
  margin-right: 5%;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 3px;
  background-color: transparent;
  border: 0;
  font-size: x-large;
  cursor: pointer;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.6);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media (max-width: 1200px) {
  #navleft {
    font-size: small;
    width: 60%;
  }

  h6 {
    display: none;
  }

  #projectselect {
    width: 30%;
  }
}

@media (max-width: 500px) {
  #navleft {
    font-size: x-small;
    width: 90%;
  }

  h6 {
    display: none;
  }

  #projectselect {
    width: 30%;
  }
}
